# Secrets and Credentials
*.json
*.pem
*.key
*.cer
*.mobileprovision
*.p12

# Xcode / macOS
.DS_Store
build/
DerivedData/
*.xcuserstate
xcuserdata/

# Except configuration files needed by git
!firebase.json
!skills-lock.json
certs/
data/global_high_value/
*.csv
*.db
